.env

.idea/

docker/arm32v7/homeassistant/configuration/*

!docker/arm32v7/homeassistant/configuration/*.yaml

docker/arm32v7/homeassistant/configuration/secrets.yaml
docker/amd64/homeassistant/configuration/secrets.yaml

docker/arm32v7/homeassistant/configuration/known_devices.yaml
docker/amd64/homeassistant/configuration/known_devices.yaml