.env

.idea/

docker/zigbee2mqtt/*
!docker/zigbee2mqtt/configuration.yaml

docker/homeassistant/configuration/*
!docker/homeassistant/configuration/*.yaml
!docker/homeassistant/configuration/packages/*.yaml
docker/homeassistant/configuration/secrets.yaml
docker/homeassistant/configuration/known_devices.yaml