.env

.idea/

docker/homeassistant/configuration/*

!docker/homeassistant/configuration/*.yaml

docker/homeassistant/configuration/secrets.yaml

docker/homeassistant/configuration/known_devices.yaml

docker/zigbee2mqtt/configuration.yaml