wheel==0.30.0
sqlalchemy==1.1.15
user-agents==1.1.0
aiohttp_cors==0.5.3
netdisco==1.2.3
mutagen==1.39
warrant==0.6.1
home-assistant-frontend==20171216.0
homeassistant==0.60
distro==1.1.0
xmltodict==0.11.0
pytradfri[async]==4.1.0
